.codex {
    font-size: 14px;
    font-family: 'Consolas';
    background: #262c39;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    min-height: 120px;
}

.code {
    font-size: 14px;
    font-family: 'Consolas';
    background: #ececec;
    color: rgb(66, 34, 34);
    border-radius: 4px;
    padding-top: 20px;
    padding-bottom: 1px;
}

.logo {
    background: rgb(51,0,113);
    background: linear-gradient(45deg, rgba(51,0,113,1) 0%, rgba(36,14,176,1) 60%, rgba(0,212,255,1) 100%);
    color: #fff !important;
    padding: 2px 13px 2px 13px;
    border-radius: 3px;
}

pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    font-size: .875em;
    background: #f8f8f8;
    padding: 5px;
    font-weight: bold;
    font-family: 'Consolas';
}

.hljs-keyword {
    color: #d61b9f;
    opacity: 1;
}

.hljs-comment {
    color: #888;
  }


.docx table {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.docx table td,
.docx table th {
    border: 1px solid #AAAAAA;
    padding: 13px 12px;
}

.docx table tbody td {
    font-size: 13px;
}

.docx table thead {
    background: #1C6EA4;
    border-bottom: 2px solid #444444;
}

.docx table thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #D0E4F5;
}

.docx table thead th:first-child {
    border-left: none;
}

.docx table tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #D0E4F5;
    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    border-top: 2px solid #444444;
}

.docx table tfoot td {
    font-size: 14px;
}

.docx table tfoot .links {
    text-align: right;
}

.docx table tfoot .links a {
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}

.versioning {
    padding-left: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #444;
}