.codex {
    font-size: 14px;
    font-family: 'Consolas';
    background: #262c39;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    min-height: 120px;
}

.code {
    font-size: 14px;
    font-family: 'Consolas';
    background: #ececec;
    color: rgb(66, 34, 34);
    border-radius: 4px;
    padding-top: 20px;
    padding-bottom: 1px;
}

.logo {
    background: rgb(51,0,113);
    background: linear-gradient(45deg, rgba(51,0,113,1) 0%, rgba(36,14,176,1) 60%, rgba(0,212,255,1) 100%);
    color: #fff !important;
    padding: 2px 13px 2px 13px;
    border-radius: 3px;
}

pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    font-size: .875em;
    background: #f8f8f8;
    padding: 5px;
    font-weight: bold;
    font-family: 'Consolas';
}

.hljs-keyword {
    color: #d61b9f;
    opacity: 1;
}